@tailwind base;
@tailwind components;
@tailwind utilities;

#menu {
    direction: rtl;
}

#menu *  {
    direction: ltr;
}

h1 {
    background: linear-gradient(#eee, #333);
    color: transparent;
    background-clip: text;
}


section {
    scrollbar-color: theme('colors.primary') theme('colors.secondary');
    scrollbar-width: thin;
    scrollbar-arrow-color: theme('colors.tertiary');
}
